* {
    padding: 0;
    margin: 0;
    font-family: 'Itim';
}

.main {
    background-image: linear-gradient(to bottom right, #eb8feb, #7294d3);
    height: 100vh;
    padding-top: 1rem;
}

.title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3%;
}

.display {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 310px;

}

.box {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
}

.playerX {
    color: #2b0dd6;
}

.playerO {
    color: #e4086f;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#reset {
    background-color: #FF3860;
}