body{
    font-family: -webkit-pictograph;    
    background: url("https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-position: center;
    background-size: cover;
}
.bio{
    display: block;
}
.profileIcons{
    font-size: 200%;
    cursor: pointer;
}
#profileImage{
    box-shadow: 5px 5px;
    width: 15%;
    padding: 1%;
    background-color: #D9DBDB;
    position: relative;
    animation-name: animateprofilepic;
    animation-duration: 30s;
  }
  
  @keyframes animateprofilepic {
    0%   {background-color:rgb(252, 138, 138); left:0%; top:0%;}
    50%  {background-color:rgb(247, 247, 151); left:83%; top:0%}
    100% {background-color:rgb(245, 180, 180); left:0%; top:0%;}
  }
i{
    margin: 2%;
}
a{
    text-decoration: none;
    color: #6a7473;
}
a:hover{
    color: #934EFA;
    font-size: larger;
}
.navli{
    background-color: #71bdff;
    font-size: 130%;
    margin : 10%;
    display: contents;
}
li a{
    padding:2%;
    color: #dcdcdc;
}
li a:hover{
    color:#08345A;
    background-color: #facece;
}
.navbar{
    background-color: #000000;
    width: 70%;
    float: right;
}
.objective{
    margin:10%;
    padding:10%;
    background:rgba(125,125,125, 0.5);
}
.objective:hover, .projects:hover, .hobbies:hover, .strength:hover{
    font-size: 105%;
    background: rgba(255, 232, 29, 0.5);
    cursor: pointer;
}
.edu{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background:rgba(125,125,125, 0.3);
    padding:2%;
}
.education-items{
    background:rgba(125,125,124,0.5);
    border: 1px solid #dcdcdc;
    padding: 4%;
    text-align: center;
}
.skills{
    margin: 20%;
}
#java{    
    height: 30px;
    width: 70%;
    background-color: rgba(19, 19, 18, 0.5);    
}
#python{
    height: 30px;
    width: 50%;
    background-color: rgba(19, 19, 18, 0.5);
}
#sql{
    height: 30px;
    width: 80%;
    background-color: rgba(19, 19, 18, 0.5);
}
#cpp{
    height: 30px;
    width: 65%;
    background-color: rgba(19, 19, 18, 0.5);
}
#webdev{
    height: 30px;
    width: 85%;
    background-color: rgba(19, 19, 18, 0.5);
}

#c{
    height: 30px;
    width: 55%;
    background-color: rgba(19, 19, 18, 0.5);
}
.proj{
    color: #4b4a4b;
}
.projects{
    padding: 2%;
    width: 40%;
    margin-left: 30%;
    background:rgb(155 155 155 / 50%); 
}
.hobbies, .strength{
    padding: 2%;
    width: 40%;
    margin: 10% 30%;
    background:rgb(155 155 155 / 50%); 
}
.hobbiesli, .strengthli{
    font-size: 130%;
    font-weight: bold;
    color:#4b4a4b;
    margin : 1%;
    list-style:circle;
    text-align: center;
}
.messageform{
    padding: 2%;
    background:rgb(255 246 246 / 50%); 
    font-size: larger;
    font-weight: bolder;
}

    .messageform:hover{
        background: rgba(255, 232, 29, 0.5);
    }
button{
    cursor: pointer;
}
#btn{
    font-size: 120%;
    width: 30%;
    transition: width 1s;
    background:rgb(243 129 117 / 25%);
}
#btn:hover{
    width: 45%;
    background: rgb(235 46 26 / 38%);
}
#arrow{
    height: 50px;
    margin-right: 40px;
    bottom: 50px;
    cursor: pointer;
    animation-name: arrowanimate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.labelItem{
    width:50%;
    display: inline-block;
}
li{
    list-style: none;
    font-size: 20px;
}
@keyframes arrowanimate{
    0%{top:80%}
    50%{bottom:0%}
}