*{
    box-sizing: border-box;
}

body{
    background-color:  rgb(211, 203, 203);
}

.text{
    background-color: rgb(250, 245, 245);
    border: 1px solid rgb(44, 44, 43);
    color: grey;
    width: 40vw;
    padding: 10px 10px 20px 10px;
    caret-color: rgb(112, 62, 179);
    overflow:hidden;
    text-align: end;
    box-shadow: 5px 5px 10px rgb(27, 26, 27) inset ,
                -5px -5px 10px #fff inset;

}

.container{
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    height: auto;
    width: auto;
}

.box{
    box-shadow: 13px 13px 20px #272727,
                  -17px -13px 20px #ffffff; 
}

.outer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col{
    border: 1px solid black;
    background-color: rgb(211, 203, 203);
    border-radius: 5%;
    padding: 1%;
    justify-content: center;
    text-align: center;
    /* margin: 1%; */
    cursor: pointer;
    font-weight: bold;
}

.col:hover{
    background-color: thistle;
    box-shadow: 3px 3px 5px rgb(105, 96, 96) inset;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.styling{
    font-size: 2.5vw;
    position: relative;
    color: rgb(49, 48, 48);
    border-color: 1px solid rgb(206, 184, 184);
}

.styling span{
    display: inline-block;
    position: relative;
    transform: translateY(-100vh);
    animation: fall 2.5s forwards;
}

@keyframes fall{
    100%{
        transform: translateY(0);
    }
}

.styling span:nth-child(2){
    animation-delay: 0.35s;
}

.styling span:nth-child(3){
    animation-delay: 0.7s;
}

.styling span:nth-child(4){
    animation-delay: 1.05s;
}

.styling span:nth-child(5){
    animation-delay: 1.40s;
}

.styling span:nth-child(6){
    animation-delay: 1.75s;
}

.styling span:nth-child(7){
    animation-delay: 2.10s;
}

.styling span:nth-child(8){
    animation-delay: 2.45s;
}

.styling span:nth-child(9){
    animation-delay: 2.80s;
}

.styling span:nth-child(10){
    animation-delay: 3.15s;
}

#extend{
    /* border: 1px solid black; */
    /* height: 2vh; */
    height: 10px;
    /* padding: 0%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 1vh; */
    /* padding-bottom: 7%; */
}



@keyframes newrow {
    from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}


.new-row{
    transform-origin: 50% 0;
    animation: newrow 0.5s linear;
}




@media screen and (max-width: 540px) {
    .text{
        width: 60vw;
    }
}

@media screen and (max-width: 720px) {
    .text{
        width: 50vw;
    }
}

@media screen and (max-width: 840px) {
    .text{
        width: 45vw;
    }
}