<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Please drop a mail at <a href="mailto:amarjeet.kaur@cygrp.com">{{helpText}}</a>for any help.</p>
    </div>
    
    {{>footer}}
</body>

</html>